<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoBanco.Properties.Settings.ProjetoBanco1ConnectionString"
            connectionString="Data Source=DESKTOP-6IBMU42;Initial Catalog=ProjetoBanco1;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>